.CfWVH{
    position: absolute; top: -5px; left: -5px; width: 40px; height: 40px;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

._2dbep{
    width: 30px; height: 30px;
    background-color: #fafafa;
    background-color: rgba(var(--b3f,250,250,250),1);
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
}

.wo9IH {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 8px 16px;
}

.uu6c_ {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row;
    flex-direction: row !important;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.t2ksc {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100px;
    -ms-flex: 1 1 100px;
    flex: 1 1 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow: hidden;
}

.pZp3x {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.Jv7Aj {
    position: relative;
}

.h5uC0 {
    cursor: pointer;
}

.RR-M- {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.SAvC5 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 4px;
    margin-right: 13px;
}

._6q-tv {
    height: 100%;
    -webkit-touch-callout: none;
    width: 100%;
}

.enpQJ {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 70px;
    -ms-flex: 1 1 70px;
    flex: 1 1 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 70px;
}

.d7ByH {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.MqpiF {
    display: inline;
}

.Jv7Aj {
    position: relative;
}

.FPmhX {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    margin-left: -5px;
}

._0imsa, ._0imsa:visited {
    color: #262626;
    color: rgba(var(--i1d,38,38,38),1);
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.wFPL8 {
    color: #8e8e8e;
    color: rgba(var(--f52,142,142,142),1);
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Pkbci {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 15px;
}

._8A5w52, a._8A5w52, a._8A5w52:visited {
    background-color: transparent !important;
    border: 1px solid #dbdbdb !important;
    border: 1px solid rgba(var(--ca6,219,219,219),1) !important;
    color: #262626 !important;
    color: rgba(var(--f75,38,38,38),1) !important;
}

.L3NKy2, a.L3NKy2, a.L3NKy2:visited {
    border-radius: 4px;
    position: relative;
    font-size: 14px !important;
}

.L3NKy3, a.L3NKy3, a.L3NKy3:visited {
    border-radius: 4px;
    position: relative;
    color: #fff; 
    color: rgba(var(--eca,255,255,255),1);
    font-size: 14px !important;
}

.sqdOP {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: 0 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    text-transform: inherit;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: auto;
}

.ybXk5 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}


ul, li{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.HVWg4 {
    padding-bottom: 8px;
    padding-top: 8px;
}

.XfCBB {
    padding-left: 16px;
    padding-right: 16px;
}

.no_focus{
    outline: none !important;
}

.button_90{
    width: 90px !important;
}

.button_112{
    width: 112px !important;
}